<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir un archivo PDF</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sube tu archivo PDF</h1>
        <form action="/uploadfile/" method="post" enctype="multipart/form-data">
            <!-- Se añade el atributo accept para solo permitir PDFs -->
            <input type="file" name="file" accept=".pdf" required />
            <input type="submit" value="Subir archivo" />
        </form>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
